extends ../layouts/default

block content
	if !data.about
		h2(style="text-align:center") Invalid About.
	else
		div(id="about-banner-container", class="row")
			div(class="col-xs-12 col-sm-12 top-banner-about")
				img(src=data.about._.banner.fit(1140, 594))
				div(class="about-top-text-banner")
					h1!= data.about.slogan
		div(class="main-container col1-layout")
			div(id="instagram-banner" class="row")
				div(class="tittle-feater")
					h3 ABOUT
					p Start model life
					p(class="line-under") ______
			.about
				!= data.about.content
