extends ../layouts/default

block content
	div(id="topbanner", class="row")
		div(class="topbanners")
			img(class="mySlides", src='/images/topbanner1.jpg')
			img(class="mySlides", src='/images/topbanner2.jpg')
			img(class="mySlides", src='/images/topbanner3.jpg')
			img(class="mySlides", src='/images/topbanner1.jpg')
			img(class="mySlides", src='/images/topbanner2.jpg')
			img(class="mySlides", src='/images/topbanner3.jpg')
			img(class="mySlides", src='/images/topbanner7.jpg')
			img(class="mySlides", src='/images/topbanner1.jpg')
			img(class="mySlides", src='/images/topbanner3.jpg')
			img(class="mySlides", src='/images/topbanner2.jpg')
		div(class="top-text-banners2")
			h2 I NEED MODELS
			button(class="button-view-models") VIEW MODELS
		div(class="top-text-banners")
			h3 I AM A MODEL
			h1 LOOKBOOK
			button(class="button-join") JOIN
	div(class="main-container col1-layout")
		div(id="subbanner", class="row")
			div(class="tittle-feater")
				h3 FEATURED MODELS
				p Get inspired with what's trending
				p(class="line-under") ______
			div(class="list-models")
				div(class="col-xs-6 col-sm-4 item-model")
					a(class="image-model", href="")
						img(src='/images/subbanner1.jpg')
					div(class="profile-model")
						h2 Ferdinand P.
						p Blogger from Illinous, United States
						button(class="button-view-profile") View Profile
					div(class="item-model-infor")
						div(class="item-model-layer")
						div(class="item-model-details")
							img(src='/images/facebook-circle.PNG')
							img(src='/images/twitter-circle.PNG')
							img(src='/images/instagram-circle.PNG')
							div(class="item-model-numbers")
								a 850.0k
								a 980.0k
								a 109.0k
				div(class="col-xs-6 col-sm-4 item-model")
					a(class="image-model", href="")
						img(src='/images/subbanner2.jpg')
					div(class="profile-model")
						h2 Aude-Julie A.
						p Stylist and blogger from Paris, France
						button(class="button-view-profile") View Profile
					div(class="item-model-infor")
						div(class="item-model-layer")
						div(class="item-model-details")
							img(src='/images/facebook-circle.PNG')
							img(src='/images/twitter-circle.PNG')
							img(src='/images/instagram-circle.PNG')
							div(class="item-model-numbers")
								a 850.0k
								a 980.0k
								a 109.0k
				div(class="col-xs-6 col-sm-4 item-model")
					a(class="image-model", href="")
						img(src='/images/subbanner3.jpg')
					div(class="profile-model")
						h2 Daftbird.
						p from Los Angeless, United States
						button(class="button-view-profile") View Profile
					div(class="item-model-infor")
						div(class="item-model-layer")
						div(class="item-model-details")
							img(src='/images/facebook-circle.PNG')
							img(src='/images/twitter-circle.PNG')
							img(src='/images/instagram-circle.PNG')
							div(class="item-model-numbers")
								a 850.0k
								a 980.0k
								a 109.0k
				div(class="col-xs-6 col-sm-4 item-model")
					a(class="image-model", href="")
						img(src='/images/subbanner4.jpg')
					div(class="profile-model")
						h2 Justyna H.
						p Blogger from Illinous, United States
						button(class="button-view-profile") View Profile
					div(class="item-model-infor")
						div(class="item-model-layer")
						div(class="item-model-details")
							img(src='/images/facebook-circle.PNG')
							img(src='/images/twitter-circle.PNG')
							img(src='/images/instagram-circle.PNG')
							div(class="item-model-numbers")
								a 850.0k
								a 980.0k
								a 109.0k
				div(class="col-xs-6 col-sm-4 item-model")
					a(class="image-model", href="")
						img(src='/images/subbanner5.jpg')
					div(class="profile-model")
						h2 Chris N.
						p Stylist and blogger from Paris, France
						button(class="button-view-profile") View Profile
					div(class="item-model-infor")
						div(class="item-model-layer")
						div(class="item-model-details")
							img(src='/images/facebook-circle.PNG')
							img(src='/images/twitter-circle.PNG')
							img(src='/images/instagram-circle.PNG')
							div(class="item-model-numbers")
								a 850.0k
								a 980.0k
								a 109.0k
				div(class="col-xs-6 col-sm-4 item-model")
					a(class="image-model", href="")
						img(src='/images/subbanner6.jpg')
					div(class="profile-model")
						h2 Stephanie E.
						p Blogger from Illinous, United States
						button(class="button-view-profile") View Profile
					div(class="item-model-infor")
						div(class="item-model-layer")
						div(class="item-model-details")
							img(src='/images/facebook-circle.PNG')
							img(src='/images/twitter-circle.PNG')
							img(src='/images/instagram-circle.PNG')
							div(class="item-model-numbers")
								a 850.0k
								a 980.0k
								a 109.0k
			a(class="col-xs-12 col-sm-12 view-all-models")
				| View all featured models
		div(id="instagram-banner", class="row")
			div(class="tittle-feater")
				h3 INSTAGRAM
				p Follow us on Instagram
				p(class="line-under") ______
			div(class="list-insta")
				div(class="item-instagram")
					a(class="image-instagram", href="")
						img(src='/images/instagram1.jpg')
					div(class="item-instagram-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes					
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram")
					a(class="image-instagram", href="")
						img(src='/images/instagram2.jpg')
					div(class="item-instagram-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes					
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram")
					a(class="image-instagram", href="")
						img(src='/images/instagram3.jpg')
					div(class="item-instagram-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes					
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram")
					a(class="image-instagram", href="")
						img(src='/images/instagram4.jpg')
					div(class="item-instagram-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes				
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram")
					a(class="image-instagram", href="")
						img(src='/images/instagram5.jpg')
					div(class="item-instagram-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes					
								p(style="color:#939393;") I am model HAPPY MONDAY
			a(class="col-xs-12 col-sm-12 view-all-models")
				| View all featured models
		div(id="blog-banner", class="row")
			div(class="tittle-feater")
				h3 BLOG
				p Get inspired with what's trending
				p(class="line-under") ______
			div(class="list-blog")
				div(class="col-xs-3 col-sm-3 item-blog")
					a(class="image-blog", href="")
						img(src='/images/bloghome1.jpg')
					a(class="blog-title", href="") 
						| SML Staff Style: Charlotte's Parisian Cool
					p(class="blog-content")
						| It's no secret that French women are
						| considered to be the most stylish in the world.
						| The home of the Breton tee...
				div(class="col-xs-3 col-sm-3 item-blog")
					a(class="image-blog", href="")
						img(src='/images/bloghome2.jpg')
					a(class="blog-title", href="") 
						| 5 Things Our Fashion Assistant Learned This Week
					p(class="blog-content")
						| This week our fashion assistant Neelam gives
						| styling advice on the latest athleisurewear to
						| invest in...
				div(class="col-xs-3 col-sm-3 item-blog")
					a(class="image-blog", href="")
						img(src='/images/bloghome3.jpg')
					a(class="blog-title", href="") 
						| Career Talk: Artist and Designer Camille Walala
					p(class="blog-content")
						| If you’ve found yourself taking photos of
						| pastel graffiti on Brick Lane or the graphic wall
						| paintings around Stoke...
				div(class="col-xs-3 col-sm-3 item-blog")
					a(class="image-blog", href="")
						img(src='/images/bloghome4.jpg')
					a(class="blog-title", href="") 
						SML Staff Style: Charlotte’s Parisian Cool
					p(class="blog-content")
						| It's no secret that French women are
						| considered to be the most stylish in the world.
						| The home of the Breton tee...
