extends ../layouts/default

block content
	div(id="timeline-banner-container")
		div(class="top-banner-about")
			img(src='/images/Join/join-banner.jpg')
	div(class="main-container col1-layout")
		div(class="tittle-join")
			h3 JOIN
			p Join start model life
			p(class="line-under") ______
		div(class="list-join")
			div(class="col-xs-6 col-sm-6 item-model")
				a(class="image-model", href="")
					img(src='/images/Join/join1.jpg')
				div(class="top-join-banners")
					a(class="button-join-join" href='/register') I AM MODEL
			div(class="col-xs-6 col-sm-6 item-model")
				a(class="image-model", href="")
					img(src='/images/Join/join2.jpg')
				div(class="top-join-banners")
					a(class="button-join-join" href='/register') LOOKING FOR MODELS
		
		