extends ../layouts/default

block content
	div(id="timeline-banner-container")
		div(class="top-banner-about")
			img(src='/images/Models/models-banner.jpg')
	div(id="tabs")
		div(class="tab-portfolio-list")
			ul(class="tab")
				li
					a(href="#", id="All-button", class="tablinks", onclick="openModelsContent(event, 'ALL')") ALL
				li
					a(href="#", class="tablinks", onclick="openModelsContent(event, 'PORTFOLIO')") PORTFOLIO
				li
					a(href="#", class="tablinks", onclick="openModelsContent(event, 'VIDEO')") VIDEO
				li
					a(href="#", class="tablinks", onclick="openModelsContent(event, 'DIGITAL')") DIGITAL
				li
					a(href="#", class="tablinks", onclick="openModelsContent(event, 'CALENDAR')") CALENDAR
		div(id="ALL", class="tabcontent")
			h3 JUSTYNA H.
			p Blogger from Illinous, United States
			p(style="font-weight: bold") 5’ 10’’ - 34’’-24’’-34.5’’-9.5 us-green-blonde
		div(id="PORTFOLIO", class="tabcontent")
			h3 PORTFOLIO
			p PORTFOLIO is a tab content of model page
		div(id="VIDEO", class="tabcontent")
			h3 VIDEO
			p VIDEO is a tab content of model page
		div(id="DIGITAL", class="tabcontent")
			h3 DIGITAL
			p DIGITAL is a tab content of model page
		div(id="CALENDAR", class="tabcontent")
			h3 CALENDAR
			p CALENDAR is a tab content of model page
	div(id="tabs2")
		div(id="Contact-tab", class="tabcontent2")
			div(class="item-model-details")
				img(src='/images/facebook-icon-gray.PNG')					
				img(src='/images/twitter-icon-gray.PNG')
				img(src='/images/instagram-icon-gray.PNG')
			div(class="item-model-numbers")
				a 850.0k
				a 980.0k
				a 109.0k
		div(id="WishList-tab", class="tabcontent2")
			h3 WishList
			p WishList is a tab content of model page
		div(id="Share-tab", class="tabcontent2")
			h3 Share
			p Share is a tab content of model page
		div(class="tab-portfolio-list2")
			ul(class="tab2")
				li
					a(href="#", id="Contact-tab-button", class="tablinks2", onclick="openModelsContent2(event, 'Contact-tab')") Contact
				li
					a(href="#", class="tablinks2", onclick="openModelsContent2(event, 'WishList-tab')") WishList
				li
					a(href="#", class="tablinks2", onclick="openModelsContent2(event, 'Share-tab')") Share
	div(class="main-container col1-layout")
		div(id="instagram-banner", class="row")
			div(class="tittle-feater")
				h3 PORTFOLIO MODELS
				p View portfolio models
				p(class="line-under") ______
			div(class="list-insta")
				div(class="item-instagram item-portfolio")
					a(class="image-instagram", href="")
						img(src='/images/Models/models1.jpg')
					div(class="item-instagram-infor item-portfolio-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details item-portfolio-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes	<br/>
								a(href="") Justyna H.					
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram item-portfolio")
					a(class="image-instagram", href="")
						img(src='/images/Models/models2.jpg')
					div(class="item-instagram-infor item-portfolio-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details item-portfolio-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes	<br/>
								a(href="") Justyna H.				
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram item-portfolio")
					a(class="image-instagram", href="")
						img(src='/images/Models/models3.jpg')
					div(class="item-instagram-infor item-portfolio-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details item-portfolio-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes	<br/>	
								a(href="") Justyna H.			
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram item-portfolio")
					a(class="image-instagram", href="")
						img(src='/images/Models/models4.jpg')
					div(class="item-instagram-infor item-portfolio-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details item-portfolio-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes	<br/>	
								a(href="") Justyna H.		
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram item-portfolio")
					a(class="image-instagram", href="")
						img(src='/images/Models/models5.jpg')
					div(class="item-instagram-infor item-portfolio-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details item-portfolio-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes	<br/>	
								a(href="") Justyna H.			
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram item-portfolio")
					a(class="image-instagram", href="")
						img(src='/images/Models/models6.jpg')
					div(class="item-instagram-infor item-portfolio-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details item-portfolio-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes	<br/>	
								a(href="") Justyna H.			
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram item-portfolio")
					a(class="image-instagram", href="")
						img(src='/images/Models/models7.jpg')
					div(class="item-instagram-infor item-portfolio-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details item-portfolio-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes	<br/>	
								a(href="") Justyna H.			
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram item-portfolio")
					a(class="image-instagram", href="")
						img(src='/images/Models/models8.jpg')
					div(class="item-instagram-infor item-portfolio-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details item-portfolio-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes	<br/>	
								a(href="") Justyna H.			
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram item-portfolio")
					a(class="image-instagram", href="")
						img(src='/images/Models/models9.jpg')
					div(class="item-instagram-infor item-portfolio-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details item-portfolio-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes<br/>		
								a(href="") Justyna H.		
								p(style="color:#939393;") I am model HAPPY MONDAY
				div(class="item-instagram item-portfolio")
					a(class="image-instagram", href="")
						img(src='/images/Models/models10.jpg')
					div(class="item-instagram-infor item-portfolio-infor")
						div(class="item-instagram-layer")
						div(class="item-instagram-details item-portfolio-details")
							img(src='/images/heart-icon.png')
							div(class="item-instagram-content")
								a(href="") 990.0k likes	<br/>	
								a(href="") Justyna H.			
								p(style="color:#939393;") I am model HAPPY MONDAY
			a(class="col-xs-12 col-sm-12 view-all-portfolio-models")
				| View all portfolio models
