extends ../layouts/default

block content
	div(class="main-container-photographer")
		div(id="photographer-list")
			div(class="photographer-item")
				a(href="")
					img(src='/images/Photographer/photographer1.jpg')
				div(class="profile-photographer")
					a(href="")
						h4 Mira Anna P. 2016
						p Photographed by Kimy Erin
				div(class="like-photographer")
					a(href="")
						a 550k
						img(src='/images/heart-icon-white.png')
						p(class="like-photographer-time") 3 months ago
			div(class="photographer-item")
				a(href="")
					img(src='/images/Photographer/photographer2.jpg')
				div(class="profile-photographer")
					a(href="")
						h4 John & Micki 2016
						p Photographed by John
				div(class="like-photographer")
					a(href="")
						a 330k
						img(src='/images/heart-icon-white.png')
						p(class="like-photographer-time") 3 months ago
			div(class="photographer-item")
				a(href="")
					img(src='/images/Photographer/photographer3.jpg')
				div(class="profile-photographer")
					a(href="")
						h4 John & Micki 2016
						p Photographed by Jana Cruder
				div(class="like-photographer")
					a(href="")
						a 50k
						img(src='/images/heart-icon-white.png')
						p(class="like-photographer-time") 3 months ago
			div(class="photographer-item")
				a(href="")
					img(src='/images/Photographer/photographer4.jpg')
				div(class="profile-photographer")
					a(href="")
						h4 Styling by Kimmy Erin
						p Photographed by Henry
				div(class="like-photographer")
					a(href="")
						a 789k
						img(src='/images/heart-icon-white.png')
						p(class="like-photographer-time") 3 months ago
			div(class="photographer-item")
				a(href="")
					img(src='/images/Photographer/photographer5.jpg')
				div(class="profile-photographer")
					a(href="")
						h4 Theodora & Callum  Fall/Winter 2014
						p Photographed by Amy Child
				div(class="like-photographer")
					a(href="")
						a 79k
						img(src='/images/heart-icon-white.png')
						p(class="like-photographer-time") 3 months ago
			div(class="photographer-item")
				a(href="")
					img(src='/images/Photographer/photographer6.jpg')
				div(class="profile-photographer")
					a(href="")
						h4 John & Micki 2016
						p Photographed by Bri Chen
				div(class="like-photographer")
					a(href="")
						a 55k
						img(src='/images/heart-icon-white.png')
						p(class="like-photographer-time") 3 months ago
			div(class="photographer-item")
				a(href="")
					img(src='/images/Photographer/photographer7.jpg')
				div(class="profile-photographer")
					a(href="")
						h4 BucketFeet
						h4 Spring/Summer 2015
						p Photographed by Jana Cruder
				div(class="like-photographer")
					a(href="")
						a 567k
						img(src='/images/heart-icon-white.png')
						p(class="like-photographer-time") 3 months ago
			div(class="photographer-item")
				a(href="")
					img(src='/images/Photographer/photographer8.jpg')
				div(class="profile-photographer")
					a(href="")
						h4 T&C Resort Collection
						p Photographed by Jay
				div(class="like-photographer")
					a(href="")
						a 222k
						img(src='/images/heart-icon-white.png')
						p(class="like-photographer-time") 3 months ago
			div(class="photographer-item")
				a(href="")
					img(src='/images/Photographer/photographer9.jpg')
				div(class="profile-photographer")
					a(href="")
						h4 John & Micki 2016
						p Photographed by Jana Cruder
				div(class="like-photographer")
					a(href="")
						a 39k
						img(src='/images/heart-icon-white.png')
						p(class="like-photographer-time") 3 months ago
		div(class="view-all-photographer")
			a(href="") View all photographers
