extends ../layouts/default

block content
	div(id="timeline-banner-container")
		div(class="top-banner-about")
			img(src='/images/Timeline/timeline-banner.jpg')
		div(class="timeline-text-container")
			div(class="timeline-search")
				input(type="text", id="timeline-search-input", name="title", placeholder=" Search with name, hash tag, id...")
				button(id="timeline-search-button")
			div(class="timeline-top-text-banner")
				h5 This page is for “TIMELINE”
				p 
					| Like timeline such as that of facebook, instagram, twitter, users can see posts just for fun.<br />
					| Model focused timeline <br />
					| Models and photographers etc...who ever can use this <br />
	div(class="main-container col1-layout")
		div(class="tittle-feater")
			h3 HISTORY OF AMERICAN FASHION TIMELINE
			p Start fashion timeline
			p(class="line-under") ______
		div(id="timeline-banner", class="row")
			div(class="list-models")
				div(class="col-xs-12 col-sm-12 item-model")
					a(class="image-model", href="")
						img(src='/images/Timeline/timeline1.jpg')
					div(class="item-timeline-infor")
						div(class="item-timeline-details")
							a(href="")
								img(src='/images/heart-circle.PNG')
							a(href="")
								img(src='/images/facebook-circle.PNG')
							a(href="")
								img(src='/images/twitter-circle.PNG')
							div(class="item-timeline-numbers")
								a(href="") 850.0k
								a(href="") 980.0k
								a(href="") 109.0k
						div(class="item-timeline-details2")
							| Lookbook"Paint It Black" by @amystardust from #UnitedKingdom " <br />
							| I do a fair bit of charity shopping and find some unique little gems <br />
							| More details:<br />
							| #gothic #grunge #vintage #softgrunge #goth #shirt #80s #foil <br />
							| #beanie #lookbook #ootd #style #fashion <br />
							| View all 13 comments <br />
							| willowtreegirl90I love the T-shirt , is fabulous <br />
							| affykins for a quick look she looked like you! @catherine.sg <br />
							| downtoearthvintage Def awesome!
				div(class="col-xs-12 col-sm-12 item-model")
					a(class="image-model", href="")
						img(src='/images/Timeline/timeline2.jpg')
					div(class="item-timeline-infor")
						div(class="item-timeline-details")
							a(href="")
								img(src='/images/heart-circle.PNG')
							a(href="")
								img(src='/images/facebook-circle.PNG')
							a(href="")
								img(src='/images/twitter-circle.PNG')
							div(class="item-timeline-numbers")
								a(href="") 850.0k
								a(href="") 980.0k
								a(href="") 109.0k
						div(class="item-timeline-details2")
							| Lookbook"Paint It Black" by @amystardust from #UnitedKingdom " <br />
							| I do a fair bit of charity shopping and find some unique little gems <br />
							| More details:<br />
							| #gothic #grunge #vintage #softgrunge #goth #shirt #80s #foil <br />
							| #beanie #lookbook #ootd #style #fashion <br />
							| View all 13 comments <br />
							| willowtreegirl90I love the T-shirt , is fabulous <br />
							| affykins for a quick look she looked like you! @catherine.sg <br />
							| downtoearthvintage Def awesome!
				div(class="col-xs-12 col-sm-12 item-model")
					a(class="image-model", href="")
						img(src='/images/Timeline/timeline3.jpg')
					div(class="item-timeline-infor")
						div(class="item-timeline-details")
							a(href="")
								img(src='/images/heart-circle.PNG')
							a(href="")
								img(src='/images/facebook-circle.PNG')
							a(href="")
								img(src='/images/twitter-circle.PNG')
							div(class="item-timeline-numbers")
								a(href="") 850.0k
								a(href="") 980.0k
								a(href="") 109.0k
						div(class="item-timeline-details2")
							| Lookbook"Paint It Black" by @amystardust from #UnitedKingdom " <br />
							| I do a fair bit of charity shopping and find some unique little gems <br />
							| More details:<br />
							| #gothic #grunge #vintage #softgrunge #goth #shirt #80s #foil <br />
							| #beanie #lookbook #ootd #style #fashion <br />
							| View all 13 comments <br />
							| willowtreegirl90I love the T-shirt , is fabulous <br />
							| affykins for a quick look she looked like you! @catherine.sg <br />
							| downtoearthvintage Def awesome!
		
